# don't lint the linter config
.eslintrc.cjs
# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
dist
build
# don't lint nyc coverage output
coverage
# don't lint generated types
**/generated
# don't lint ide files
.idea
.vscode
scripts
temp

src/features/common/components/svg
src/features/common/components/icons
