@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 245 245 245;
    --foreground: 0 0 0;

    --card: 255 255 255;
    --card-foreground: 0 0 0;

    --popover: 255 255 255;
    --popover-foreground: 0 0 0;

    --primary: 3 100 85;
    --primary-foreground: 255 255 255;

    --secondary: 15 23 42;
    --secondary-foreground: 241 245 249;

    --muted: 241 245 249;
    --muted-foreground: 100 116 139;

    --accent: 64 64 64;
    --accent-foreground: 255 255 255;

    --destructive: 239 68 68;
    --destructive-foreground: 248 250 252;

    --border: 226 232 240;

    --input: 226 232 240;
    --ring: 153 153 153;

    --radius: 0.25rem;
  }

  .dark {
    --background: 34 34 34;
    --foreground: 255 255 255;

    --card: 51 51 51;
    --card-foreground: 255 255 255;

    --popover: 255 255 255;
    --popover-foreground: 0 0 0;

    --primary: 126 200 191;
    --primary-foreground: 15 23 42;

    --secondary: 18 18 18;
    --secondary-foreground: 255 255 255;

    --muted: 30 41 59;
    --muted-foreground: 148 163 184;

    --destructive: 127 29 29;
    --destructive-foreground: 255 255 255;

    --border: 30 41 59;

    --input: 65 65 65;

    --ring: 203 213 225;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  #root {
    height: 100vh;
  }
}
