@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #404040;
    --foreground: #000000;

    --card: #ffffff;
    --card-foreground: #000000;

    --popover: #ffffff;
    --popover-foreground: #000000;

    --primary: #7fc8bf;
    --primary-foreground: #ffffff;

    --secondary: hsl(222.2, 47.4%, 11.2%);
    --secondary-foreground: hsl(210 40%, 96.1%);

    --muted: hsl(210 40%, 96.1%);
    --muted-foreground: hsl(215.4 16.3%, 46.9%);

    --accent: #404040;
    --accent-foreground: #ffffff;

    --destructive: hsl(0 84.2%, 60.2%);
    --destructive-foreground: hsl(210 40%, 98%);

    --border: hsl(214.3 31.8%, 91.4%);

    --input: hsl(214.3 31.8%, 91.4%);
    --ring: hsl(0 0%, 60%);

    --radius: 0.25rem;
  }

  .dark {
    --background: #222222;
    --foreground: #ffffff;

    --card: rgba(255, 255, 255, 0.05);
    --card-foreground: #ffffff;

    --popover: #ffffff;
    --popover-foreground: #000000;

    --primary: hsl(173 40%, 64%);
    --primary-foreground: hsl(222.2, 47.4%, 11.2%);

    --secondary: hsl(0 0%, 7%);
    --secondary-foreground: #ffffff;

    --muted: hsl(217.2 32.6%, 17.5%);
    --muted-foreground: hsl(215 20.2%, 65.1%);

    --destructive: hsl(0 62.8%, 30.6%);
    --destructive-foreground: #ffffff;

    --border: hsl(217.2 32.6%, 17.5%);

    --input: #353535;

    --ring: hsl(212.7 26.8%, 83.9%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  #root {
    height: 100vh;
  }
}
