@import './styles/fonts-normal.css';
@import './styles/fonts-italic.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 248 248 249;
    --foreground: 26 43 58;

    --card: 255 255 255;
    --card-foreground: 26 43 58;

    --popover: 255 255 255;
    --popover-foreground: 26 43 58;

    --primary: 14 129 127;
    --primary-foreground: 255 255 255;

    --secondary: 45 45 241;
    --secondary-foreground: 255 255 255;

    --muted: 243 244 245;
    --muted-foreground: 133 146 165;

    --accent: 243 244 245;
    --accent-foreground: 26 43 58;

    --destructive: 239 68 68;
    --destructive-foreground: 255 255 255;

    --border: 224 227 231;

    --input: 224 227 231;
    --ring: 224 227 231;

    --radius: 0.75rem;

    --payment: 169 48 59;
    --payment-foreground: 255 255 255;

    --asset-transfer: 154 50 148;
    --asset-transfer-foreground: 255 255 255;

    --application-call: 27 108 135;
    --application-call-foreground: 255 255 255;

    --asset-config: 121 58 240;
    --asset-config-foreground: 255 255 255;

    --asset-freeze: 67 100 99;
    --asset-freeze-foreground: 255 255 255;

    --state-proof: 25 109 11;
    --state-proof-foreground: 255 255 255;

    --key-registration: 107 94 9;
    --key-registration-foreground: 255 255 255;

    --error: 203 69 83;
    --error-foreground: 255 255 255;

    --toastify-color-light: rgb(var(--card));
    --toastify-color-dark: rgb(var(--card));
    --toastify-color-info: rgb(var(--application-call));
    --toastify-color-success: rgb(var(--state-proof));
    --toastify-color-warning: rgb(var(--key-registration));
    --toastify-color-error: rgb(var(--payment));
    --toastify-text-color-light: rgb(var(--foreground));
    --toastify-text-color-dark: rgb(var(--foreground));
  }

  .dark {
    --background: 7 25 42;
    --foreground: 174 181 192;

    --card: 0 19 36;
    --card-foreground: 174 181 192;

    --popover: 0 19 36;
    --popover-foreground: 174 181 192;

    --primary: 19 162 159;
    --primary-foreground: 15 23 42;

    --secondary: 66 117 255;
    --secondary-foreground: 0 19 36;

    --muted: 12 30 46;
    --muted-foreground: 90 98 114;

    --accent: 12 30 46;
    --accent-foreground: 174 181 192;

    --destructive: 127 29 29;
    --destructive-foreground: 255 255 255;

    --border: 26 43 58;

    --input: 90 98 114;

    --ring: 90 98 114;

    --payment: 234 100 104;
    --payment-foreground: 0 19 36;

    --asset-transfer: 235 117 226;
    --asset-transfer-foreground: 0 19 36;

    --application-call: 43 157 195;
    --application-call-foreground: 0 19 36;

    --asset-config: 170 121 245;
    --asset-config-foreground: 0 19 36;

    --asset-freeze: 105 154 152;
    --asset-freeze-foreground: 0 19 36;

    --state-proof: 43 167 22;
    --state-proof-foreground: 0 19 36;

    --key-registration: 164 144 20;
    --key-registration-foreground: 0 19 36;

    --error: 203 69 83;
    --error-foreground: 255 255 255;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    font-family: 'Roboto Mono', sans-serif;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply scroll-m-20 text-3xl font-bold text-primary;
  }

  h2 {
    @apply scroll-m-20 pb-2 text-2xl font-semibold first:mt-0 text-primary;
  }

  h3 {
    @apply scroll-m-20 text-xl font-semibold text-primary;
  }

  h4 {
    @apply scroll-m-20 text-lg font-semibold;
  }

  p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }

  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }

  code {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }

  small {
    @apply text-sm text-muted-foreground leading-none;
  }

  abbr {
    text-decoration: none;
    white-space: nowrap;
  }
}
